// general
$primary: #000000; // #5c34a2
$secondary: #45cc79; // #87e1a9
$tertiary: #757575; // #bf9cff
$additional-font: #fff;

$btn-line-color: $primary; // button border and font color && hover bg color